html, body{
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(197, 190, 190);

}

header{
    height: 20%;
    background-color: aquamarine;
}

.img1{
    height: 80%;
    width: 120px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.img2{
    height: 80%;
    width: 120px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    float: right;
}

header input {
    width: 50%;
    margin-top: 50px;
    height: 30px;
}

.main {
    background-color: rgb(145, 128, 106);
    height: 25%;

}

.main img {
    height: 100px;
    width: 120px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    margin-bottom: 15px;
}


.main h3 {
    margin: 0;
    padding-top: 45px;
    float: left;
    width: 75%;
}

.main span {
    color: darkgrey;
    float: left;
}

.main p {
    clear: both;
    margin-left: 5%;
}

.img3 {
    width: 100%;
}

footer img {
    height: 100px;
    width: 100px;
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 15px;
    float: left;
}

footer p {
    float: left;
    width: 50%;
    margin-top: 50px;
}

footer span {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

footer hr {
    clear: both;
}

.end {

}